
@font-face {
    font-family: "StrenuousThreeD-Regular";
    font-style: normal;
    font-weight: 400px;
    src: url("strenuous3d.ttf");
}
@font-face {
    font-family: "ka1";
    font-style: normal;
    font-weight: 400px;
    src: url("ka1.ttf");
}
.BorderPane {
    -fx-pref-width: 600;
    -fx-pref-height: 600;
    -fx-background-color: brown;
}

.StackPane {
}

.AnchorPane {
    -fx-background-color: grey;
}

.Overlay {
    -fx-background-color: Transparent !important;
}

.Menu {
    -fx-background-color: rgba(255, 255, 255, 0.75);
}
.Counter .text {
    -fx-stroke-width: 2px;
    -fx-stroke: black;
}
.userName{
    -fx-font-size: 40;
    -fx-font-family: "StrenuousThreeD-Regular" !important;
    -fx-background-color: white;
}

.MenuButtons{
    -fx-font-size: 30;
    -fx-font-family: "Karmatic Arcade" !important;
    -fx-background-color: Transparent;
}



